.nb_fixed-bg {
    min-height: 85vh;
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#333;
}
@media all and (min-width: 0px) {.nb_fixed-bg{}}
@media all and (min-width: 480px) and (max-width: 767px) {.nb_fixed-bg{}}       
@media all and (min-width: 768px) /*and (max-width: 1023px)*/ {
	.nb_fixed-bg, #nb_slideshow_bg{
		height:1vh;
		background-attachment: fixed;
	}
}
@media all and (min-width: 1024px) and (max-width: 1219px) {.nb_fixed-bg{}}
@media all and (min-width: 1220px) {.nb_fixed-bg{}}


h1.page-title {background: rgba(200,200,200,0.6);}
.field--name-title {color: darkblue;}
.view-contentblocks {margin: 5px 10%;}

/* Example float for paragraph's with images */
.region-preface-second .field--name-field-content {float: left;}
.region-preface-second .field--name-field-contentpic {float: right;}