@import "parrot_mixins", "parrot-style-vars", "parrot-default-style-vars", "parrotgs";
////////////////////////////////////////////////////////////////////////////////
//
// SANDBOX 
//
////////////////////////////////////////////////////////////////////////////////


      

// Example css for fixed div's 
// Templates (twig) also have the relevant code in 
.nb_fixed-bg {
    min-height: 85vh;
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#333;
    position: fixed;
    top :0;
    width: 100vw;
    z-index: -1;
}
#nb_slideshow_bg {min-height: 85vh;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
}
@media all and (min-width: 0px) {.nb_fixed-bg{}}
@media all and (min-width: 480px) and (max-width: 767px) {.nb_fixed-bg{}}       
@media all and (min-width: 768px) /*and (max-width: 1023px)*/ {
	.nb_fixed-bg, #nb_slideshow_bg{
		height:85vh;
		background-attachment: fixed;
	}
}
@media all and (min-width: 1024px) and (max-width: 1219px) {.nb_fixed-bg{}}
@media all and (min-width: 1220px) {.nb_fixed-bg{}}

.path-frontpage #nb_fixed-bg1 {
    display: none;
}

.nb_fixed-inner { /* HOME PAGE LOGO repositioned for slider */
    position: relative;
    top: -85vh;
}

// Hamburger-Menu -example css . Edit as necessary.
.responsive-menu-toggle-icon::before, .responsive-menu-toggle-icon::after, .responsive-menu-toggle-icon span.icon {
	background: #c00;
	//content: '';
	//display: block;
	//width: 20px;
	//height: 3px;
	//position: absolute;
	//top: 0;
	//left: 13px;
	//border-radius: 2px;
}