@import "plingcom2-style-vars", "plingcom2-default-style-vars";

// Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html {
  //-webkit-text-size-adjust: 100%;

}

body {
  font-family: $reg;
  font-size: 100%;
  max-width: 100%;
  -webkit-text-size-adjust:none;
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 87.5%;

}
// change the body spacing for the vertical toolbar from margin to padding
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0;
  padding-left: 15rem;
}

a {
  text-decoration: none;
  color: rgba($primaryColor2, 1);
  @include plingcom2Transition(opacity, 0.25s, ease-in-out);
  &:hover {
    text-decoration: none;
    border-bottom: none;
    color: rgba($primaryColor2, 0.85);
  }
}

details {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

p , .field--type-text-with-summary {
  color: rgba($primaryColor1, 1);
  font-size:$generalTextSize;
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

ul {
  
  li {
    
  }
}

ol {
  
  li {
    
  }
}

h1, h2, h3, h4, h5, h6 {
  
}

h1 ,
.heading-a {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.357em;
  color: rgb(116,39,14);
  font-family:$defaultHeaderFont;
}

h2,
.heading-b {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: $desktopH2;
  color: $primaryColor2;
  font-family:$defaultHeaderFont;
}

h3,
.heading-c {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.092em;
}
h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.05em;
}
h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// Specific elements
.page-title {
  font-size: 3em;
  line-height: 1em;
  color: rgb(0,116,125);
  padding: 10px 0 0;
  font-family:$defaultHeaderFont;
}
p a, p a.link {  border-bottom: dotted 0.1em !important;
}

img.image-style-avatar{
    border-radius: 100%;
}